<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>contactEmailRot13</key>
    <string>junggurwrss@tznvy.pbz</string>
    <key>contactName</key>
    <string>Jeff Welch</string>
    <key>description</key>
    <string>Support for the &lt;a href="http://www.breezephp.com/"&gt;Breeze micro-framework&lt;/a&gt; for PHP 5.3+.</string>
    <key>mainMenu</key>
    <dict>
        <key>items</key>
        <array>
            <string>FC0BA4A1-61A8-446E-9F05-5E2FC7DF24D1</string>
            <string>03D67BF7-D9B3-47B9-9C30-8812347CFB9A</string>
            <string>C8A30AAB-09B1-4339-851F-E3659F703828</string>
            <string>------------------------------------</string>
            <string>D3F3BC15-06B1-464A-9582-89D8C880EC22</string>
            <string>1A76F9D8-655F-482F-B542-8A644CECC3CE</string>
            <string>699DE6BD-12FE-4DDB-879F-0D486F792420</string>
            <string>074EAA05-C73B-4DAF-B33F-B1D6D919A51C</string>
            <string>3D1CE1B0-AE50-431B-81D3-929FA23D54B5</string>
        </array>
        <key>submenus</key>
        <dict>
            <key>074EAA05-C73B-4DAF-B33F-B1D6D919A51C</key>
            <dict>
                <key>items</key>
                <array>
                    <string>AD4EBB8D-E391-4458-899A-6825989DDA8F</string>
                    <string>701944F8-F671-4CDD-98CB-5B14A60139AA</string>
                    <string>626A498B-7A01-4A0E-ABC9-E6E95DCA4D51</string>
                    <string>20DF1841-E049-4691-9ACA-5F1F1E55069E</string>
                    <string>493CB1FA-D8BA-47E8-9736-D5C4D38F0E05</string>
                    <string>67FEE2E1-F6C0-4731-A224-95AE098DE686</string>
                    <string>52627354-E023-4739-9BE8-9295FDEE66A1</string>
                    <string>CF17E5F3-2C90-4EA4-BC37-EA5EB0A4F086</string>
                    <string>39DBF861-D5D5-441D-AA96-7EC5C89E56D2</string>
                    <string>------------------------------------</string>
                    <string>4036583A-F7EE-4062-A15E-AF0C9BE03361</string>
                </array>
                <key>name</key>
                <string>Routes</string>
            </dict>
            <key>1A76F9D8-655F-482F-B542-8A644CECC3CE</key>
            <dict>
                <key>items</key>
                <array>
                    <string>E8B6233C-C6A4-4388-B2AE-8186DF4DDDDD</string>
                    <string>------------------------------------</string>
                    <string>9C586368-E61E-438B-8C8E-49BA0235F597</string>
                </array>
                <key>name</key>
                <string>Errors</string>
            </dict>
            <key>3D1CE1B0-AE50-431B-81D3-929FA23D54B5</key>
            <dict>
                <key>items</key>
                <array>
                    <string>43EBF510-4321-4832-8A32-0D4F4242F501</string>
                    <string>CA26FEA7-4ADC-4CED-8B91-0DC9CBA697FB</string>
                    <string>956343B2-0711-4E9C-BDA5-73B9C7BD1D28</string>
                    <string>D2E3CBCE-D75A-4A78-84DE-B1352FAD33BB</string>
                    <string>46983E5E-3CE1-4E40-9B68-32823E334071</string>
                    <string>------------------------------------</string>
                    <string>7039F21E-A57B-4815-8CCB-A562AC0B837D</string>
                </array>
                <key>name</key>
                <string>Templates</string>
            </dict>
            <key>4036583A-F7EE-4062-A15E-AF0C9BE03361</key>
            <dict>
                <key>items</key>
                <array>
                    <string>B333DFED-9AD4-4CF5-BE95-C1C02D96BA3B</string>
                    <string>FAEE487E-6AFF-4EA5-A672-2D295F41D812</string>
                    <string>A9DCAA76-E5FA-4190-B109-25A5BE26483E</string>
                    <string>FF284130-E745-4735-83C2-052720941373</string>
                    <string>CF5575C4-EA73-490C-958B-BD42B06C78A8</string>
                    <string>DC2CABBB-3DC8-415F-8DDE-B7C68ADABA57</string>
                    <string>D84386EA-2F87-40B5-B03E-C937C90920EA</string>
                    <string>A88D5F26-863E-4DEC-8259-00017B7B43A2</string>
                    <string>9AF8584C-085D-4C4B-A9C0-EC710C57EDED</string>
                </array>
                <key>name</key>
                <string>$breeze</string>
            </dict>
            <key>699DE6BD-12FE-4DDB-879F-0D486F792420</key>
            <dict>
                <key>items</key>
                <array>
                    <string>06998737-A7B6-497F-81B6-058284EC9DE3</string>
                    <string>6268C6E8-4C06-416C-B838-41AAC3DBD24D</string>
                    <string>------------------------------------</string>
                    <string>A12CE798-5427-4040-BD2C-44AD3CDDA014</string>
                </array>
                <key>name</key>
                <string>Plugins</string>
            </dict>
            <key>7039F21E-A57B-4815-8CCB-A562AC0B837D</key>
            <dict>
                <key>items</key>
                <array>
                    <string>87A2D836-BEA6-4FB6-B91C-92E4C9F3EF51</string>
                    <string>00FF3879-95DD-4BFB-9998-B2CDE29E49AB</string>
                    <string>357C94E7-2686-45B1-8811-F80BAAFFA3D4</string>
                    <string>C8AE578C-BB6E-45F1-9052-3F5C6041CCF9</string>
                    <string>6ED9A561-2756-4543-A583-B955E3E3ED74</string>
                </array>
                <key>name</key>
                <string>$breeze</string>
            </dict>
            <key>84B31305-9DF6-4B1C-A825-5A9E3D434B6B</key>
            <dict>
                <key>items</key>
                <array>
                    <string>9707ECE3-1DB5-4FB6-B6F4-B203C97BE5E8</string>
                </array>
                <key>name</key>
                <string>$breeze</string>
            </dict>
            <key>9C586368-E61E-438B-8C8E-49BA0235F597</key>
            <dict>
                <key>items</key>
                <array>
                    <string>B74FB8C8-1042-47D7-AB7C-33C6EFCE024B</string>
                </array>
                <key>name</key>
                <string>$breeze</string>
            </dict>
            <key>A12CE798-5427-4040-BD2C-44AD3CDDA014</key>
            <dict>
                <key>items</key>
                <array>
                    <string>BD9E5C6C-9B3C-408E-B49D-37C131BCC5DD</string>
                </array>
                <key>name</key>
                <string>$breeze</string>
            </dict>
            <key>D3F3BC15-06B1-464A-9582-89D8C880EC22</key>
            <dict>
                <key>items</key>
                <array>
                    <string>028828E4-A333-49BA-AA2C-2DCDD0C52CA1</string>
                    <string>------------------------------------</string>
                    <string>84B31305-9DF6-4B1C-A825-5A9E3D434B6B</string>
                </array>
                <key>name</key>
                <string>Config</string>
            </dict>
        </dict>
    </dict>
    <key>name</key>
    <string>PHP Breeze</string>
    <key>ordering</key>
    <array>
        <string>FC0BA4A1-61A8-446E-9F05-5E2FC7DF24D1</string>
        <string>03D67BF7-D9B3-47B9-9C30-8812347CFB9A</string>
        <string>C8A30AAB-09B1-4339-851F-E3659F703828</string>
        <string>AD4EBB8D-E391-4458-899A-6825989DDA8F</string>
        <string>701944F8-F671-4CDD-98CB-5B14A60139AA</string>
        <string>626A498B-7A01-4A0E-ABC9-E6E95DCA4D51</string>
        <string>20DF1841-E049-4691-9ACA-5F1F1E55069E</string>
        <string>028828E4-A333-49BA-AA2C-2DCDD0C52CA1</string>
        <string>493CB1FA-D8BA-47E8-9736-D5C4D38F0E05</string>
        <string>43EBF510-4321-4832-8A32-0D4F4242F501</string>
        <string>E8B6233C-C6A4-4388-B2AE-8186DF4DDDDD</string>
        <string>CA26FEA7-4ADC-4CED-8B91-0DC9CBA697FB</string>
        <string>67FEE2E1-F6C0-4731-A224-95AE098DE686</string>
        <string>06998737-A7B6-497F-81B6-058284EC9DE3</string>
        <string>956343B2-0711-4E9C-BDA5-73B9C7BD1D28</string>
        <string>D2E3CBCE-D75A-4A78-84DE-B1352FAD33BB</string>
        <string>52627354-E023-4739-9BE8-9295FDEE66A1</string>
        <string>CF17E5F3-2C90-4EA4-BC37-EA5EB0A4F086</string>
        <string>39DBF861-D5D5-441D-AA96-7EC5C89E56D2</string>
        <string>6268C6E8-4C06-416C-B838-41AAC3DBD24D</string>
        <string>46983E5E-3CE1-4E40-9B68-32823E334071</string>
        <string>B333DFED-9AD4-4CF5-BE95-C1C02D96BA3B</string>
        <string>FAEE487E-6AFF-4EA5-A672-2D295F41D812</string>
        <string>A9DCAA76-E5FA-4190-B109-25A5BE26483E</string>
        <string>FF284130-E745-4735-83C2-052720941373</string>
        <string>9707ECE3-1DB5-4FB6-B6F4-B203C97BE5E8</string>
        <string>CF5575C4-EA73-490C-958B-BD42B06C78A8</string>
        <string>87A2D836-BEA6-4FB6-B91C-92E4C9F3EF51</string>
        <string>B74FB8C8-1042-47D7-AB7C-33C6EFCE024B</string>
        <string>00FF3879-95DD-4BFB-9998-B2CDE29E49AB</string>
        <string>DC2CABBB-3DC8-415F-8DDE-B7C68ADABA57</string>
        <string>BD9E5C6C-9B3C-408E-B49D-37C131BCC5DD</string>
        <string>357C94E7-2686-45B1-8811-F80BAAFFA3D4</string>
        <string>C8AE578C-BB6E-45F1-9052-3F5C6041CCF9</string>
        <string>D84386EA-2F87-40B5-B03E-C937C90920EA</string>
        <string>A88D5F26-863E-4DEC-8259-00017B7B43A2</string>
        <string>9AF8584C-085D-4C4B-A9C0-EC710C57EDED</string>
        <string>6ED9A561-2756-4543-A583-B955E3E3ED74</string>
        <string>38981A36-11CC-4307-8D87-84318F0B5CE4</string>
    </array>
    <key>uuid</key>
    <string>662E7859-1FC5-44D6-9B50-A1A13B23715E</string>
</dict>
</plist>
